<!DOCTYPE html>
<html>
<head>
<title>career website</title>
  <style>
    h1{
      font-family: Roboto;
      text-align: center;
      color: rgb(180, 180, 100);
    }
    #banner{
      height:360px;
      width:100% ;
      object-fit:cover>;
    }
    h2{
      font-size:32;
      font-family: Roboto;
      color: rgb(180, 180, 100);
      text-align: center ;
    }
    p{
      font-family: Roboto;
      color: rgb(80, 80, 80);
    }
    #container{
      max-width: 720px;
      margin: 0 auto 0 auto;
    }

  </style>
</head>
<body>
<div id="container">
<h1>Jovian carriers</h1>
  <img id="banner" src="https://2fd09414-eb8c-4f28-a142-278f066ea55a-00-2zwnsmpwidt72.sisko.replit.dev/static/carrier.jpg" height="360" width=100%  object-fit:cover></img>
  <h2>About Jovian</h2>
  <p class="bodytext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <h2>Job oppenings</h2>
  <p>will show the jobs here</p>
  <div style="text-align:center;"">
  <button type="submit"> Apply</button>
    </div>
  </div>

</body>
</html>